<!DOCTYPE html>
<html lang="en">
<head>
  <title>Credentials Captured</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  
  <div class="alert alert-success alert-dismissible" style="margin-top: 200px;margin-left: 200px; position: fixed; ">
    <a href="/fbdemo" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Phishing Attack Is Succesful!</strong> Your Security Controls Have Been Bypassed ..
  </div>
</div>

</body>
</html>

