
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MITRE: Drive-by Compromise</title>

    </head>

    <body>

        <div class="container">

            <header class="header" role="banner">
                <h1>MITRE: Drive-by Compromise Demo Page</h1>
            </header>

            <div class="main">
                <article class="main-content" role="main">

                    <aside class="additional-content" aria-live="polite" aria-relevant="additions" aria-atomic="true">
                        <p>A drive-by compromise is when an adversary gains access to a system through a user visiting a website over the normal course of browsing. With this technique, the user's web browser is targeted for exploitation.</p>
                        </p>
                    </aside>
                    
                    <h2>Malicious file download statred without any user click !</h2>
                    <div id="exploitstatus" style="height:400px;width:900px;overflow:auto;border:8px solid yellowgreen;padding:2%">
                    Trying to Exploit ..
                    </div>
                </article>
            </div>
            <br>
            <br>
            <footer class="page-footer">
                Created by <a href="mailto:ayman_saeed@symantec.com">Ayman Saeed</a><br>
            </footer>

        </div>
        <!--Load the exploit to store the malicious file into the system !-->
        <script src="/mitre/drivedownload.js"></script>

    </body>
</html>